<section class="timeline">
  <div class="container">

    {{$roadmap:= .Scratch.Get "roadmap"}}
    {{$meses:= .Scratch.Get "meses"}}

    {{range $index, $val := sort $roadmap.timeline "eventdate" "asc"}} {{$side
    :=`fadeInRight`}} {{if eq (mod $index 2) 0}} {{$side =`fadeInLeft`}} {{end}}
    {{$prerelease :=``}} {{if .prerelease }} {{$prerelease =`pre-release`}}
    {{end}}


    {{$eventDateTime := time .eventdate}}
    {{$monthindex := printf "%d" $eventDateTime.Month}}
    {{$month:= index $meses $monthindex}}
  
    <div class="timeline-item">
      <div class="timeline-img {{$prerelease}}"></div>
      {{ if .imagen }}
      <div class="timeline-content timeline-card js--{{$side}}">
        <div class="timeline-img-header">
          <h2>{{.title}}</h2>
        </div>
        <div class="date {{$prerelease}}">
          {{$eventDateTime.Day}} de {{$month}} - {{$eventDateTime.Year}}
        </div>
        {{if .quotes }}
        <blockquote>{{.text}}</blockquote>
        {{else}}
        <p>{{.text}}</p>
        {{end}} {{if .link}}
        <a class="bnt-more" href="{{.link}}" target="_blank">ver más</a>
        {{end}}
      </div>
      {{else }}
      <div class="timeline-content js--{{$side}}">
        <h2>{{.title}}</h2>
        <div class="date {{$prerelease}}">
          {{$eventDateTime.Day}} de {{$month}} - {{$eventDateTime.Year}}
        </div>
        {{if .quotes }}
        <blockquote>{{.text}}</blockquote>
        {{else}}
        <p>{{.text}}</p>
        {{end}} {{if .link}}
        <a class="bnt-more" href="{{.link}}" target="_blank">ver más</a>
        {{end}}
      </div>

      {{ end }}
    </div>
    {{end}}
  </div>
</section>
<script src="https://unpkg.com/scrollreveal"></script>

<script>
  var ready = (callback) => {
    if (document.readyState != "loading") callback();
    else document.addEventListener("DOMContentLoaded", callback);
  };

  ready(() => {
    var w = window;
    d = document;
    e = d.documentElement;
    g = d.getElementsByTagName("body")[0];
    window_width = w.innerWidth || e.clientWidth || g.clientWidth;
    window.sr = ScrollReveal();

    if (window_width < 768) {
      if (
        document.querySelector(".timeline-content").hasClass("js--fadeInLeft")
      ) {
        document
          .querySelector(".timeline-content")
          .removeClass("js--fadeInLeft")
          .addClass("js--fadeInRight");
      }

      sr.reveal(".js--fadeInRight", {
        origin: "right",
        distance: "300px",
        easing: "ease-in-out",
        duration: 800,
      });
    } else {
      sr.reveal(".js--fadeInLeft", {
        origin: "left",
        distance: "300px",
        easing: "ease-in-out",
        duration: 800,
      });

      sr.reveal(".js--fadeInRight", {
        origin: "right",
        distance: "300px",
        easing: "ease-in-out",
        duration: 800,
      });
    }

    sr.reveal(".js--fadeInLeft", {
      origin: "left",
      distance: "300px",
      easing: "ease-in-out",
      duration: 800,
    });

    sr.reveal(".js--fadeInRight", {
      origin: "right",
      distance: "300px",
      easing: "ease-in-out",
      duration: 800,
    });
  });
</script>
